*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scroll{
  border-radius: 20px 5px 20px 5px !important;
  background-color: rgb(73, 176, 210) !important;
  border-radius: 1px solid black !important;
}


 /* Dark Mode */

 #dark{
  background-color: black;
  color: white;
 }